

<template>
   <ion-page>
      <ion-header>
         <ion-toolbar>
            <ion-title><span v-if="mode === 'SignIn'">Sign In</span><span v-if="mode === 'SignUp'">Create Account</span></ion-title>
         </ion-toolbar>
      </ion-header>
      <ion-content :fullscreen="true">
         <ion-card>
            <ion-card-header>
               <ion-card-subtitle><img id="logo" src="../assets/img/logo.png"></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
               <form @submit.prevent="mode === 'SignIn' ? signIn(email, password) : signUp(name, email, password)">
                  <ion-item v-if="mode === 'SignUp'">
                     <ion-label position="floating">Name</ion-label>
                     <ion-input v-model="name"></ion-input>
                  </ion-item>
                  <ion-item>
                     <ion-label position="floating">Email</ion-label>
                     <ion-input v-model="email"></ion-input>
                  </ion-item>
                  <ion-item>
                     <ion-label position="floating">Password</ion-label>
                     <ion-input v-model="password" type="password"></ion-input>
                  </ion-item>
                  <ion-button expand="block" color="primary" class="ion-margin-top" type="submit">
                     {{ mode === "SignIn" ? "Sign In" : "Sign Up" }}
                  </ion-button>
                  <ion-button
                     expand="block"
                     color="secondary"
                     class="ion-margin-top"
					@click=" mode = mode === 'SignIn' ? 'SignUp' : 'SignIn' "
					>
					{{ mode === "SignIn" ? "Sign Up" : "Cancel" }}
                  </ion-button>
               </form>
            </ion-card-content>
            <ion-card-content v-if="errorMsg" class="error-message">
               {{ errorMsg }}
            </ion-card-content>
         </ion-card>
      </ion-content>
   </ion-page>
</template>



<script>
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonCard,
  IonCardSubtitle,
  IonCardHeader,
  IonCardContent,
  IonInput,
  IonButton,
  IonLabel,
  IonItem,
  loadingController 
} from "@ionic/vue";

import { auth } from "../main";
import { createUserWithEmailAndPassword, signInWithEmailAndPassword, updateProfile } from "firebase/auth";
import { reactive, toRefs } from "vue";
import { useRouter } from "vue-router";

export default  {
	name: 'Authentication',
	
	components: {
		IonHeader,
		IonToolbar,
		IonTitle,
		IonContent,
		IonPage,
		IonCard,
		IonCardSubtitle,
		IonCardHeader,
		IonCardContent,
		IonInput,
		IonItem,
		IonLabel,
		IonButton
	},

	props: {

	},

	setup() {
		const router = useRouter();
		const state = reactive({
			name: "",
			email: "",
			password: "",
			mode: "SignIn",
			errorMsg: "",
		});
		const signIn = async( email, password ) => {
			const load = await loadingController
				.create({
					message: "Loading",
					duration: 5000,
					spinner: "bubbles"
				});
			state.errorMsg = "";
			load.present();
			try {
				if (!email || !password) {
					state.errorMsg = "Email and Password Required";
					return;
				} 
				await signInWithEmailAndPassword(auth, email, password);
				router.push("/tabs/tab1");
				load.dismiss();
			} catch (error) {
				load.dismiss();
				if (error.message.includes("auth/user-not-found")) {
					state.errorMsg = "Incorrect username or password.";
				} else if (error.message.includes("auth/invalid-email")) {
					state.errorMsg = "Email address is not valid.";
				} else if (error.message.includes("auth/wrong-password")) {
					state.errorMsg = "Incorrect username or password.";
				} else {
					state.errorMsg = error.message;
				}
			}
		};
		
		const signUp = async( name, email, password ) => {
			const load = await loadingController
				.create({
					message: "Loading",
					duration: 5000,
					spinner: "bubbles"
				});			
			state.errorMsg = "";
			load.present();
			try {
				if (!name || !email || !password) {
					state.errorMsg = "Name, Email, and Password Required";
					return;
				}
				const authRes = await createUserWithEmailAndPassword(auth, email, password ).then(
					updateProfile(auth.currentUser, {
						displayName: name
					}).catch((error) => {
						console.error(error)
					})
				);
				console.info( authRes );
				router.push("/tabs/tab1");
				load.dismiss();
			} catch (error) {
				load.dismiss();
				if (error.message.includes("auth/invalid-email")) {
					state.errorMsg = "Invalid email address format.";
				} else if (error.message.includes("auth/email-already-in-use")) {
					state.errorMsg = "Email already in use.";
				} else {
					state.errorMsg = error.message;
				}
			}
		};
		return {
			...toRefs(state),
			signIn,
			signUp
		};
	},

	methods: {
	}
	
}
</script>


<style  scoped>
.center {
	display: flex;
	height: 90vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.error-message {
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
	text-align: center;
}
</style>