<template>
   <ion-page>
      <ion-header>
         <ion-toolbar>
            <ion-title>Bluetooth Test</ion-title>
         </ion-toolbar>
      </ion-header>
      <ion-content :fullscreen="true">
         <ion-header collapse="condense">
            <ion-toolbar>
               <ion-title size="large">Bluetooth Test</ion-title>
            </ion-toolbar>
         </ion-header>
		<ion-button expand="block" color="secondary" class="ion-margin-top" @click=" start1 ">Let`s do it!</ion-button>
      </ion-content>
   </ion-page>
</template>
<script>
	import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent } from '@ionic/vue';
	//import ExploreContainer from '@/components/ExploreContainer.vue';
   import { database } from "../main";
   
   
   //import {ble} from "@/services/browserBLE.js";
   
   
	// import {iDB} from "@/services/iDB.js";
	// const db = new iDB();
   
	export default  {
		name: 'BluetoothTest',
		components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage },
		
		data() {
			return {
				msg: 'Hello world!',
				devices: new Map(),
			}
		},

		methods: {
			
			
			
		


		},
		
		mounted() {
		
			
			let newClinet = {
				firstname: "John",
				lastname: "Smith"
			};
			
		
		
			async function addClient(newClinet) {
				try {
					const res = await database.ref('clients').push(newClinet)
					console.info("Ok", res )
				} catch (error) {
					console.log(error.message)
					throw error
				}
			}	
			
			addClient( newClinet );
		
			/*
		   try {
			   const addClient = await database().ref('clients').push(newClinet)
			   console.log(addClient)
		   } catch (error) {
			   console.log(error.message)
			   throw error
		   };
		   */
	
			/*
			async newClient(newClinet) {
			   try {
				   const addClient = await firebase.database().ref('clients').push(newClinet)
				   console.log(addClient)
			   } catch (error) {
				   console.log(error.message)
				   throw error
			   }
		   }
			*/

			
			
			
			
		},
		
		created() {
			
			
			/*

			navigator.bluetooth.requestDevice(options).then(device => {
				if (this.scanning) {
					return device.gatt.connect().then(server => {
						this.devices.set(device.id, {
							device: device,
							server: server
						})
						console.info(device);
					});
				}
			});
			*/
		
		}

		
	}
</script>