<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Metrics</ion-title> 
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      
      <ion-card  v-if="devicePresent">
        <ion-card-header>
          <ion-card-subtitle>{{ deviceType }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <radial-progress-bar :diameter="200"
                      :completed-steps="hoursWornToday"
                      :total-steps="hoursDailyGoal" startColor="#a9ae00" stopColor="#1cba83" class="card-center">
          <p>Daily goal: {{ currentProgress }}%</p>
          </radial-progress-bar>
        </ion-card-content>
      </ion-card>

      <ion-card  v-if="devicePresent">
        <ion-card-header>
          <ion-card-subtitle>{{ deviceType }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <BarChart v-bind:chartData="state.chartData" v-bind:chartOptions="state.chartOptions"/>
        </ion-card-content>
      </ion-card>

      <ion-card v-if="!devicePresent">
        <ion-card-header>Connect device to view logs.</ion-card-header>
      </ion-card>

    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonCard, IonCardHeader, IonCardSubtitle, IonCardContent } from '@ionic/vue';
import RadialProgressBar from 'vue-radial-progress';
import BarChart from '@/components/BarChart.vue';
import { uid, connectedDevice } from '../main';
import { Firebase } from '../services/firebase';

export default  {
  name: 'Tab1',
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage, IonCard, IonCardHeader, IonCardSubtitle, IonCardContent, RadialProgressBar, BarChart },

  data: () => ({
    hoursWornToday: 0,
    hoursDailyGoal: 0,
    deviceType: "Scoli-Brace",
    state: {
      chartOptions: { 
         responsive: true,
         scales: {
           yAxes: [{
             ticks: {
               min: 0,
               stepSize: 1,
               beginAtZero: true
               }
            }]
          },
          legend: {
            display: true
          }
      }
    }
  }),

  ionViewWillEnter() {
    this.handleFillData();  
  },

  methods: {
        handleFillData() {
          var labelDates = [];
          var startDate = new Date();

          for (let i=0; i < 15; i++) {
            let labelDate = new Date(startDate);
            labelDate.setDate(startDate.getDate()-i);
            labelDates.unshift(`${labelDate.toLocaleString('default', { month: 'long' }).slice(0, 3)} ${labelDate.getDate()}`);
          }

          if(this.devicePresent) {
            Firebase.getWearTimeLatest(uid, connectedDevice.value).then(resp => {
              this.state.chartData = {
                            labels: labelDates,
                            datasets: [
                                {
                                label: 'Daily Hours',
                                backgroundColor: '#a9ae00',
                                data: resp
                                }
                            ]
                        }
                this.hoursWornToday = parseFloat(resp[resp.length-1]);
              
            });
            Firebase.getDailyGoal(uid, connectedDevice.value).then(resp => {
              this.hoursDailyGoal = resp;
            });
          }
        },
  },

  computed: {
    
    currentProgress: function() {
      return Math.round((this.hoursWornToday / this.hoursDailyGoal)*100);
    },

    devicePresent: function() {
      return connectedDevice.value != null ? true : false;
    }

  }
}
</script>

<style>
.card-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>