<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Devices</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">

      <ion-card v-if="device.connectedStatus"> 
            <ion-card-header>
               <ion-button expand="block" v-on:click="syncConnectedDevice">Sync</ion-button>
               <ion-label position="floating" v-if="lastSyncDate!='1970-01-01T00:00:00Z'">Last sync completed: {{ new Date(lastSyncDate).toLocaleString("en-US") }}</ion-label>
               <ion-button expand="block" v-on:click="calibrateConnectedDevice">Calibrate</ion-button>
            </ion-card-header>
            <ion-card-content>
               
            </ion-card-content>
      </ion-card>

      <ion-card>
            <ion-progress-bar v-if="deviceDiscoveryMode" type="indeterminate"></ion-progress-bar>
            <ion-list>
              <ion-item :key="device.id" v-for="device in devices" v-on:click="bleConnect(device)">
                <ion-label>{{ device.name }}</ion-label>
                <!-- <ion-label>{{ device.id }}</ion-label> -->
                <ion-icon class="listicon" v-if="device.connectedStatus == 0" :ios="bluetooth" :md="bluetooth" name="bluetooth"></ion-icon>
                <ion-spinner color="secondary" class="listicon" v-else-if="device.connectedStatus == 1" name="dots"></ion-spinner>
                <ion-icon class="listicon" v-else-if="device.connectedStatus == 2" :ios="checkbox" :md="checkbox" name="checkbox" color="success"></ion-icon>
              </ion-item>
            </ion-list>
      </ion-card>

    </ion-content>
  </ion-page>
</template>

<script>
import { IonSpinner, IonIcon, IonProgressBar, IonContent, IonHeader, IonPage, IonTitle, IonToolbar, IonLabel, IonItem } from '@ionic/vue';
import { isPlatform } from '@ionic/vue';
import { refreshCircle, bluetooth, checkbox } from 'ionicons/icons';
import { Utility } from '../services/utility';
import { blt, lastSyncDate } from "../main";

export default  {
  name: 'Tab2',
  components: {
    IonHeader, 
    IonToolbar, 
    IonTitle, 
    IonContent, 
    IonPage,
    IonIcon,
    IonLabel,
    IonItem,
    IonProgressBar,
    IonSpinner
    },

  data: () => ({
  }),

  setup() {

    return {
      refreshCircle,
      bluetooth,
      checkbox
    }

  },
  
  ionViewDidEnter() {

    if(blt.device) {
      if (!blt.device.gatt.connected) {
        console.log(blt.device.gatt.connected)
        console.info("No exisitng connection to device")
        this.bleFindDevices();
      } else {
        console.info(`Already connected to device: ${blt.device.name}`)
      }
    } else {
      this.bleFindDevices();
    }

    // Utility.getConnectedDevice().then((device) => {
    //   if(device === null){
    //     console.log("No exisitng connection to device")
    //     this.bleFindDevices();
    //   } else {
    //     console.log("Already connected to device: " + device)
    //     blt.devices.push(device);
    //   }

    // })

    //TODO: Data storage and sync

    //EN: For test puproses, start with emty array.
    //storage.set('log_data', '[]')

  },

  computed: {
    device: function() {
      if(blt.device) {
        return blt.device
      } else {
        return false
      }
    },

    devices: function() {
      return blt.devices
    },

    deviceDiscoveryMode: function() {
      return blt.deviceDiscoveryMode
    },

    lastSyncDate: function() {
      return lastSyncDate.value;
    }
    
  },
  
  methods: {

    /**
       * EN: Find BLE devices
       */
      bleFindDevices() {
        console.info("Searching for BLE devices");
        if(isPlatform('hybrid')){ // If platfrom Andorid/iOS
          blt.bleDiscover();
        } else { //If platform Web Windows
          blt.webConnect();
        }
      },

      bleConnect(device) {
        if(isPlatform('hybrid')){
          blt.bleConnect(device)
        } else {
          blt.webConnect(device);
        }
      },

      syncConnectedDevice() {
        var unixDate
        console.log(`LAST SYNC DATE: ${this.lastSyncDate}`)
        if (this.lastSyncDate) {
          unixDate = Utility.parseDateToUnix(this.lastSyncDate)
        } else {
          unixDate = '0'
        }
        console.log(`UNIX DATE: ${unixDate}`) 
        if(isPlatform('hybrid')) {
          blt.bleWrite(blt.device, `sd(${unixDate})`)
        } else {
          blt.webWrite(`sd(${unixDate})`)
        }
      },

      calibrateConnectedDevice() {
        console.log(`CALIBRATING SENSOR`)
        if(isPlatform('hybrid')) {
          blt.bleWrite(blt.device, `cb()`)
        } else {
          blt.webWrite(`cb()`)
        }        
      }
      
  }

}
</script>

<style scoped>
ion-toolbar {
  text-align: right;
}

.buttonicon {
  font-size: 3em;
  color: var(--ion-color-primary);
}

.listicon {
  font-size: 1.5em;
  color: var(--ion-color-primary);
}

ion-spinner {
  font-size: 1.5em;
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
</style>