<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Profile</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">

      <ion-card>
        <ion-list>
          <ion-item class="list">
            <ion-label position="stacked">Email</ion-label>
            <ion-input v-model="userEmail" v-on:change="saveButtonEmail = true"></ion-input>
          </ion-item>
          <ion-button expand="full" color="primary" v-on:click="updateUserEmail(userEmail)" v-if="saveButtonEmail">Save</ion-button> 
          <ion-item class="list">
            <ion-label position="stacked">User Name</ion-label>
            <ion-input v-model="userName" v-on:change="saveButtonName = true"></ion-input>
          </ion-item>
          <ion-button expand="full" color="primary" v-on:click="updateUserDisplayName(userName)" v-if="saveButtonName">Save</ion-button> 
        </ion-list>
      </ion-card>
      <ion-card>
          <ion-card-header>
              <ion-card-subtitle>Account</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label class="account" color="primary" v-on:click="signOutUser()">Sign Out <ion-icon size="medium" color="primary" :ios="logOutOutline" :md="logOutOutline" name="logOut"></ion-icon></ion-label>
          </ion-card-content>
      </ion-card>

    </ion-content>
  </ion-page>
</template>

<script>
import { IonInput, IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonCardContent, IonCardHeader, IonCardSubtitle, IonCard, IonList, IonItem, IonLabel, IonIcon, toastController} from '@ionic/vue';
import { pin, logOutOutline, informationCircle} from 'ionicons/icons';
import { updateProfile, signOut, updateEmail } from "firebase/auth";
import { auth } from '../main';
import { useRouter } from 'vue-router';

export default  {
  name: 'Tab3',
  components: { 
    IonInput, 
    IonHeader, 
    IonToolbar, 
    IonTitle, 
    IonContent, 
    IonPage, 
    IonCard, 
    IonItem, 
    IonLabel,
    IonList,
    IonIcon,
    IonCardContent, 
    IonCardHeader, 
    IonCardSubtitle },
  setup() {
    const router = useRouter();

    const signOutUser = async() => {
      signOut(auth).then(() => {
        router.push('/')
      }).catch((error) => {
        console.error(error)
      });
    }

    return {
      pin,
      logOutOutline,
      informationCircle,
      signOutUser
    }
  },
  data: () => ({
    userName: auth.currentUser.displayName,
    userEmail: auth.currentUser.email,
    saveButtonName: false,
    saveButtonEmail: false
  }),
  methods: {
    updateUserDisplayName(name) {
      updateProfile(auth.currentUser, {
        displayName: name
        }).catch((error) => {
						console.error(error);
				}).then(() => {
          this.openToast("Your name updated")
          this.saveButtonName = false
        })
    },

    updateUserEmail(email) {
      updateEmail(auth.currentUser, email).then(() => {
        this.openToast("Email Updated");
        this.saveButtonEmail = false;
      }).catch((error) => {
        console.error(error)
      });
    },

    async openToast(message) {
      const toast = await toastController
        .create({
          message: message,
          duration: 3000,
          icon: informationCircle,
          color: "success"
        })
      return toast.present();
    },


  }
}
</script>
<style scoped>
.list {
  font-size: 1.2rem;
  padding-top: 0.5em; 
  padding-bottom: 0.5em; 
}
.account{
  font-size: 1.3rem;
  padding-bottom: 1em;
}
</style>